// bootstrap overrides
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1280px
);
$container-max-widths: (
	sm: 540px,
	md: 751px,
	lg: 970px,
	xl: 1280px
);

$WorkSans: 'Work Sans', sans-serif;
$Montserrat: 'Montserrat', sans-serif;

$font-light: 300;
$semi-bold: 600;
$bold: 700;