*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important; }

iframe, object, embed {
  border: none;
  width: 100%; }

textarea, input {
  -webkit-appearance: none; }

img {
  image-orientation: from-image; }

html, body {
  background-color: #fff;
  max-width: 100%;
  position: relative; }

a, a:hover, a:focus {
  color: inherit;
  -webkit-transition: all .5s;
  transition: all .5s;
  text-decoration: none; }

a:hover, button:hover {
  opacity: 0.7; }

button, button:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  outline: none; }

.btn {
  border-radius: 4px;
  padding: 11px 17px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  border: none; }
  .btn.contact-btn {
    border: 1px solid #b60005;
    color: #b60005;
    border-radius: 4px;
    padding: 9px 28px; }
  .btn.red-btn {
    background-color: #b60005;
    color: #fff;
    font-weight: 600; }

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

p {
  margin: 0 0 1.44em;
  letter-spacing: 0.0025em; }
  @media (max-width: 1099px) {
    p {
      letter-spacing: 0.0005em;
      line-height: 1.8em; } }

ul {
  margin-bottom: 0; }

picture {
  display: block; }

svg {
  display: block;
  width: 100%; }

.overflow {
  overflow: hidden; }

.error {
  border-color: #b60005 !important; }

.is-disabled {
  display: none !important; }

.alert-message {
  margin: 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .alert-message .is-success, .alert-message .is-error {
    display: none; }
    .alert-message .is-success.is-active, .alert-message .is-error.is-active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .alert-message .is-success {
    color: #38A176; }
  .alert-message .is-error {
    color: #b60005; }

.validation_text {
  color: #b60005;
  font-size: 14px;
  text-align: left;
  margin-bottom: 15px;
  line-height: 1.5; }

.active-menu {
  max-height: 100vh;
  overflow: hidden; }
  .active-menu .overlay:after {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3; }

.wrap-nav {
  -webkit-box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);
          box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1); }

.header .logo {
  max-width: 170px;
  padding-right: 0;
  width: 100%; }
  @media only screen and (max-width: 544px) {
    .header .logo {
      max-width: 120px;
      padding-right: 0; } }

.head-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav-container {
  padding: 12px 0;
  max-width: 1330px; }
  @media only screen and (max-width: 1400px) {
    .nav-container {
      padding: 12px 20px; } }

.list-menu {
  margin: 0 0 0 auto;
  width: 100%;
  max-width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (min-width: 1280px) {
    .list-menu {
      max-width: 74%; } }
  .list-menu li {
    padding-right: 26px;
    line-height: 1.6; }
    @media (max-width: 991px) {
      .list-menu li {
        padding: 10px 0; } }
    .list-menu li.wrap-btn {
      margin: 0 0 0 auto;
      padding-right: 0; }
    .list-menu li a {
      font-family: 'Work Sans', sans-serif;
      color: #424b5a;
      font-size: 14px;
      text-transform: uppercase; }
      @media only screen and (max-width: 991px) {
        .list-menu li a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
      .list-menu li a.is-active {
        color: #c01621; }

/*mobile header btn*/
.header_btn {
  position: relative; }
  .header_btn span {
    height: 2px;
    position: absolute; }

.bit-1 {
  margin-top: -17px;
  width: 50px;
  margin-left: -14px; }
  @media (max-width: 544px) {
    .bit-1 {
      width: 30px;
      margin-top: -13px; } }
  .bit-1:before {
    left: 0;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom; }
  .bit-1:before, .bit-1:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background: #424b5a;
    top: 0;
    -webkit-transition: top .1s, -webkit-transform .1s;
    transition: top .1s, -webkit-transform .1s;
    transition: transform .1s, top .1s;
    transition: transform .1s, top .1s, -webkit-transform .1s; }
  .bit-1:after {
    right: 0;
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom; }

.bit-2 {
  left: 50%;
  margin-left: -14px;
  margin-top: -3px;
  text-align: center; }
  .bit-2:before {
    content: '';
    width: 50px;
    height: 100%;
    background: #424b5a;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: width .1s;
    transition: width .1s;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s; }
    @media (max-width: 544px) {
      .bit-2:before {
        width: 30px; } }

.bit-3 {
  width: 50px;
  margin-left: -14px;
  margin-top: 12px; }
  @media (max-width: 544px) {
    .bit-3 {
      width: 30px;
      margin-top: 7px; } }
  .bit-3:before {
    left: 0;
    -webkit-transform-origin: left top;
            transform-origin: left top; }
  .bit-3:before, .bit-3:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background: #424b5a;
    -webkit-transition: bottom .1s, -webkit-transform .1s;
    transition: bottom .1s, -webkit-transform .1s;
    transition: transform .1s, bottom .1s;
    transition: transform .1s, bottom .1s, -webkit-transform .1s;
    bottom: 0; }
  .bit-3:after {
    right: 0;
    -webkit-transform-origin: right top;
            transform-origin: right top; }

.opened .bit-1 {
  width: 32px; }
  @media (max-width: 544px) {
    .opened .bit-1 {
      width: 23px; } }
  .opened .bit-1:before {
    width: 23px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s; }
    @media (max-width: 544px) {
      .opened .bit-1:before {
        width: 23px; } }
  .opened .bit-1:before, .opened .bit-1:after {
    top: -0px; }
  .opened .bit-1:after {
    width: 23px;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.opened .bit-2 {
  margin-left: -3px; }
  .opened .bit-2:before {
    width: 0;
    -webkit-transition-delay: 0;
            transition-delay: 0; }

.opened .bit-3 {
  width: 32px; }
  @media (max-width: 544px) {
    .opened .bit-3 {
      width: 23px; } }
  .opened .bit-3:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .opened .bit-3:before, .opened .bit-3:after {
    width: 23px;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    bottom: -2px; }
  .opened .bit-3:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.navbar-toggler {
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 12;
  padding: 18px 36px 15px 15px;
  border: 1px solid transparent;
  background-color: transparent; }
  @media (max-width: 544px) {
    .navbar-toggler {
      padding: 14px 17px 10px 15px; } }

.navbar-toggler:focus {
  outline: none; }

.wrap-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  @media only screen and (min-width: 1280px) {
    .wrap-nav-list {
      margin-left: 50px; } }

.custom_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (min-width: 992px) {
    .custom_navbar {
      display: none; } }

/*END mobile header btn*/
@media only screen and (max-width: 991px) {
  .list-menu {
    background-color: #fff;
    -webkit-box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);
            box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);
    display: block;
    position: fixed;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    top: 0;
    right: -400px;
    width: 40%;
    z-index: 11;
    height: 100vh;
    padding: 90px 20px 30px; }
    .list-menu li {
      margin: 0; }
      .list-menu li.wrap-btn {
        max-width: 146px;
        margin: auto; }
  .menu-open {
    right: 0;
    top: 0;
    min-width: 270px;
    position: fixed; }
  .login-box li a.sign-in {
    padding: 0;
    margin-top: 10px; } }

.footer {
  background-color: #424b5a;
  padding: 28px 0; }
  .footer .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 991px) {
      .footer .footer-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .footer .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: auto;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
    @media only screen and (max-width: 991px) {
      .footer .footer-nav {
        margin-bottom: 40px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
    @media only screen and (min-width: 1280px) {
      .footer .footer-nav {
        margin-left: 55px; } }
    .footer .footer-nav li {
      padding-right: 42px;
      line-height: 1.6;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media only screen and (max-width: 1279px) {
        .footer .footer-nav li {
          padding-right: 25px; } }
      @media only screen and (max-width: 767px) {
        .footer .footer-nav li {
          width: 100%;
          max-width: 33%;
          padding: 0 0 20px;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
    .footer .footer-nav a {
      color: #fff;
      font-family: "Work Sans", sans-serif;
      font-size: 12px;
      text-transform: uppercase; }
    .footer .footer-nav img {
      padding-right: 37px; }
      @media only screen and (max-width: 1279px) {
        .footer .footer-nav img {
          padding-right: 20px; } }
      @media (max-width: 544px) {
        .footer .footer-nav img {
          padding-right: 5px; } }
  .footer .copyright {
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0; }
    @media only screen and (min-width: 1280px) {
      .footer .copyright {
        margin: 0 53px 0 0; } }

.modal {
  padding: 0 !important; }
  .modal .request-section {
    padding: 0; }
  .modal .modal-header {
    display: block;
    border: 0; }
    @media only screen and (min-width: 992px) {
      .modal .modal-header {
        display: none; } }
    .modal .modal-header .close {
      padding: 5px 0 15px; }
  .modal .modal-dialog {
    max-width: 975px; }
  .modal .modal-body {
    padding: 0; }
  .modal .modal-content {
    padding: 64px 0 78px; }
    @media only screen and (max-width: 991px) {
      .modal .modal-content {
        padding: 0 15px 35px; } }

.home-page .section-hero {
  padding: 107px 0 135px;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .home-page .section-hero {
      padding: 50px 0 90px;
      text-align: center;
      overflow: hidden; } }
  @media only screen and (min-width: 768px) {
    .home-page .section-hero {
      background-image: url("../images/home-hero.png");
      background-repeat: no-repeat;
      background-size: auto;
      background-position: 100% 50%; } }
  .home-page .section-hero .text-wrapper {
    max-width: 700px;
    display: block; }
    @media only screen and (min-width: 768px) {
      .home-page .section-hero .text-wrapper {
        margin-left: 55px; } }
  .home-page .section-hero .txt {
    max-width: 575px;
    margin-bottom: 45px; }
  .home-page .section-hero:before {
    display: none; }
    @media only screen and (max-width: 767px) {
      .home-page .section-hero:before {
        display: block;
        content: url("../images/home-hero.png");
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0.5; } }
  .home-page .section-hero .container {
    opacity: 1;
    position: relative; }

@media only screen and (min-width: 1280px) {
  .home-page.home-page-mac .section-hero {
    background-image: url("../images/home-hero-mac.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 100% 50%; } }

@media only screen and (max-width: 1280px) {
  .home-page.home-page-mac .section-hero {
    background-image: none; } }

.home-page.home-page-mac .section-hero .title-hero {
  margin-bottom: 25px; }

.home-page.home-page-mac .section-hero .subtitle-hero {
  font-size: 21px;
  margin-top: 20px; }

.home-page.home-page-mac .section-hero:before {
  display: none; }
  @media only screen and (max-width: 1279px) {
    .home-page.home-page-mac .section-hero:before {
      display: block;
      content: url("../images/home-hero-mac.png");
      position: absolute;
      width: auto;
      height: auto;
      left: auto;
      right: 0;
      top: 50px;
      opacity: 0.5; } }
  @media only screen and (max-width: 991px) {
    .home-page.home-page-mac .section-hero:before {
      top: 25px; } }
  @media only screen and (max-width: 767px) {
    .home-page.home-page-mac .section-hero:before {
      display: none; } }

.title-hero {
  margin: 0 0 35px;
  font-size: 50px;
  color: #424b5a;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.28; }
  @media only screen and (max-width: 991px) {
    .title-hero {
      font-size: 32px; } }
  .title-hero .subtitle-hero {
    font-weight: 600;
    max-width: 600px;
    display: block; }

.item-br {
  display: block; }

.txt {
  font-size: 16px;
  color: #424b5a;
  line-height: 1.5;
  font-family: "Work Sans", sans-serif; }
  @media only screen and (max-width: 767px) {
    .txt {
      font-size: 14px; } }

.broad-resources {
  background-color: #f7f5f2; }
  .broad-resources .resources-container {
    margin: auto; }
    @media only screen and (min-width: 1200px) {
      .broad-resources .resources-container {
        max-width: 1005px; } }
  .broad-resources .title-section {
    padding: 84px 0 89px; }
    @media only screen and (max-width: 991px) {
      .broad-resources .title-section {
        padding: 50px 0; } }
  .broad-resources .resources-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media only screen and (max-width: 991px) {
      .broad-resources .resources-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .broad-resources .resources-wrap .resources-item {
      width: 100%;
      max-width: 450px;
      padding: 67px 38px 96px;
      border-radius: 2px;
      -webkit-box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);
              box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);
      background-color: #fff;
      z-index: 2;
      margin-top: -60px; }
      @media only screen and (max-width: 991px) {
        .broad-resources .resources-wrap .resources-item {
          padding: 15px; } }
      .broad-resources .resources-wrap .resources-item .wrap-img {
        height: 100%;
        max-height: 300px; }
        @media only screen and (max-width: 991px) {
          .broad-resources .resources-wrap .resources-item .wrap-img {
            margin-bottom: 30px; } }
      .broad-resources .resources-wrap .resources-item img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto; }
        @media only screen and (max-width: 767px) {
          .broad-resources .resources-wrap .resources-item img {
            max-width: 100%; } }
      @media only screen and (min-width: 992px) {
        .broad-resources .resources-wrap .resources-item.robot-automation img {
          padding-top: 30px; } }
      .broad-resources .resources-wrap .resources-item.robot-automation .check-list {
        padding: 0;
        max-width: 245px;
        margin: auto; }
      @media only screen and (max-width: 991px) {
        .broad-resources .resources-wrap .resources-item.robot-automation {
          margin-top: 15px; } }
    .broad-resources .resources-wrap .check-list {
      padding-left: 19px; }

.list-title {
  color: #424b5a;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 21px;
  text-align: center;
  margin-bottom: 22px; }

.check-list {
  padding: 0;
  margin: 0;
  list-style: none; }
  .check-list li {
    color: #919ba3;
    line-height: 1.6;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    background: url("../images/check.png") no-repeat;
    background-size: 25px;
    padding: 0 0 0 40px;
    margin-bottom: 29px; }

.title-section {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.36;
  text-align: center;
  color: #424b5a;
  margin: 0; }
  @media only screen and (min-width: 992px) {
    .title-section {
      font-size: 28px; } }

.heartcore-section {
  padding: 69px 0 101px; }
  @media only screen and (max-width: 991px) {
    .heartcore-section {
      padding: 50px 0; } }
  .heartcore-section .title-section {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.28;
    text-align: center;
    color: #424b5a;
    margin: 0px 0 50px; }
    @media only screen and (min-width: 992px) {
      .heartcore-section .title-section {
        font-size: 50px; } }
  .heartcore-section .wrap-heartcore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .heartcore-section .heartcore-title {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #424b5a; }
    @media only screen and (min-width: 768px) {
      .heartcore-section .heartcore-title {
        min-height: 50px; } }
    @media only screen and (min-width: 992px) {
      .heartcore-section .heartcore-title {
        min-height: 75px; } }
  .heartcore-section .heartcore-item {
    max-width: 230px; }
    @media only screen and (max-width: 991px) {
      .heartcore-section .heartcore-item {
        max-width: 50%;
        text-align: center; } }
    @media only screen and (max-width: 767px) {
      .heartcore-section .heartcore-item {
        max-width: 100%; } }
    .heartcore-section .heartcore-item img {
      margin: 0 auto 28px;
      display: block; }
    .heartcore-section .heartcore-item .txt {
      font-family: "Work Sans", sans-serif;
      font-size: 16px;
      line-height: 1.5;
      color: #919ba3; }

.contact-us {
  text-align: center;
  background-color: #e7e7e7;
  padding: 65px 0 95px; }
  .contact-us .title-section {
    padding: 0 0 8px; }
  .contact-us .txt {
    margin: 0 0 27px; }
  .contact-us .btn {
    padding: 11px 43px; }

.solutions-page .title-hero {
  font-weight: 300;
  text-align: center;
  max-width: 875px;
  margin: auto;
  padding: 55px 0 72px; }
  @media only screen and (max-width: 767px) {
    .solutions-page .title-hero {
      padding: 50px 0; } }

.solutions-page .recommend-section .txt {
  color: #919ba3;
  margin-bottom: 15px; }

.solutions-page .recommend-section .list-title {
  text-align: left;
  padding: 0; }

.solutions-page .on-premise-wrap {
  background-color: #f7f5f2; }
  .solutions-page .on-premise-wrap .wrap-recommend {
    padding: 77px 0 85px; }
    @media only screen and (max-width: 767px) {
      .solutions-page .on-premise-wrap .wrap-recommend {
        padding: 50px 0; } }
    .solutions-page .on-premise-wrap .wrap-recommend .wrap-img {
      margin: 0;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
      @media only screen and (min-width: 1280px) {
        .solutions-page .on-premise-wrap .wrap-recommend .wrap-img {
          -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
                  order: 2; } }
    .solutions-page .on-premise-wrap .wrap-recommend .wrap-text {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
      @media only screen and (min-width: 1280px) {
        .solutions-page .on-premise-wrap .wrap-recommend .wrap-text {
          margin: 0 25px 0 55px;
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1; } }
      .solutions-page .on-premise-wrap .wrap-recommend .wrap-text .title {
        margin: 38px 0 19px; }
        @media only screen and (max-width: 767px) {
          .solutions-page .on-premise-wrap .wrap-recommend .wrap-text .title {
            margin: 25px 0 15px; } }
    .solutions-page .on-premise-wrap .wrap-recommend .check-list {
      margin-right: 55px; }

.solutions-page .wrap-recommend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 83px 0 105px; }
  @media only screen and (max-width: 1279px) {
    .solutions-page .wrap-recommend {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media only screen and (max-width: 767px) {
    .solutions-page .wrap-recommend {
      padding: 50px 0; } }
  .solutions-page .wrap-recommend .title {
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.26;
    color: #424b5a; }
    @media only screen and (max-width: 767px) {
      .solutions-page .wrap-recommend .title {
        font-size: 21px; } }
  .solutions-page .wrap-recommend .wrap-text {
    max-width: 560px; }
    @media only screen and (min-width: 1280px) {
      .solutions-page .wrap-recommend .wrap-text {
        margin: 0 25px 0 22px; } }
    .solutions-page .wrap-recommend .wrap-text .title {
      margin: 31px 0 19px; }
      @media only screen and (max-width: 1279px) {
        .solutions-page .wrap-recommend .wrap-text .title {
          text-align: center; } }
    @media only screen and (max-width: 1279px) {
      .solutions-page .wrap-recommend .wrap-text .list-title {
        text-align: center; } }
  @media only screen and (min-width: 1280px) {
    .solutions-page .wrap-recommend .wrap-img {
      margin: 0 10px 0 55px; } }
  .solutions-page .wrap-recommend .wrap-img img {
    max-width: 555px; }
    @media only screen and (max-width: 767px) {
      .solutions-page .wrap-recommend .wrap-img img {
        max-width: 100%; } }
  .solutions-page .wrap-recommend .check-list {
    margin-right: 20px; }
    .solutions-page .wrap-recommend .check-list li {
      margin-bottom: 15px; }

.solutions-page .know-more-section {
  background: url("../images/solutions-bg-img.jpg") no-repeat;
  background-size: cover;
  padding: 75px 0;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .solutions-page .know-more-section {
      padding: 150px 0; } }
  @media only screen and (min-width: 1280px) {
    .solutions-page .know-more-section {
      padding: 272px 0 303px; } }
  .solutions-page .know-more-section .know-wrap-btn {
    background-color: #e7e7e7;
    max-width: 945px;
    margin: auto;
    padding: 46px 0 52px; }
    .solutions-page .know-more-section .know-wrap-btn .btn {
      padding: 10px 32px; }
  .solutions-page .know-more-section .title-section {
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-weight: 700;
    margin: 0 0 4px; }
    @media only screen and (max-width: 767px) {
      .solutions-page .know-more-section .title-section {
        font-size: 21px; } }
  .solutions-page .know-more-section .txt {
    margin-bottom: 19px; }

.about-page .section-hero {
  background-color: #f7f5f2; }

.about-page .hero-wrap {
  padding: 50px 0 139px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 1279px) {
    .about-page .hero-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media only screen and (max-width: 991px) {
    .about-page .hero-wrap {
      padding: 50px 0; } }
  .about-page .hero-wrap .text-wrapper {
    max-width: 555px;
    margin-bottom: 35px; }
    @media only screen and (min-width: 1280px) {
      .about-page .hero-wrap .text-wrapper {
        margin: 0 29px 0 56px; } }
    .about-page .hero-wrap .text-wrapper .title-hero {
      margin: 0 0 27px; }
      @media only screen and (max-width: 1279px) {
        .about-page .hero-wrap .text-wrapper .title-hero {
          text-align: center; } }
    @media only screen and (max-width: 1279px) {
      .about-page .hero-wrap .text-wrapper > .txt {
        text-align: center; } }
  .about-page .hero-wrap .wrap-img {
    margin-top: 4px; }
    .about-page .hero-wrap .wrap-img img {
      max-width: 100%; }
      @media only screen and (min-width: 788px) {
        .about-page .hero-wrap .wrap-img img {
          max-width: 555px; } }

.about-page .partners-section {
  padding: 90px 0 65px; }
  @media only screen and (max-width: 991px) {
    .about-page .partners-section {
      padding: 50px 0; } }
  @media only screen and (min-width: 1280px) {
    .about-page .partners-section .partners-container {
      max-width: 1030px; } }
  .about-page .partners-section .title-section {
    padding-bottom: 25px; }
    @media only screen and (min-width: 992px) {
      .about-page .partners-section .title-section {
        padding-bottom: 65px; } }
  .about-page .partners-section .partners-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0; }
    .about-page .partners-section .partners-list .bnr-item {
      text-align: center;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; }
      @media only screen and (min-width: 768px) {
        .about-page .partners-section .partners-list .bnr-item {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 20%;
                  flex: 0 0 20%;
          max-width: 20%; } }
      .about-page .partners-section .partners-list .bnr-item img {
        max-width: 100%;
        height: auto; }

.about-page .profile-section .profile-container {
  padding: 25px;
  background-color: #fafafa; }
  @media only screen and (min-width: 1280px) {
    .about-page .profile-section .profile-container {
      max-width: 1140px; } }
  @media only screen and (min-width: 992px) {
    .about-page .profile-section .profile-container {
      padding: 64px 73px 68px; } }

.about-page .profile-section .title-section {
  margin-bottom: 21px; }

.about-page .profile-section .profile-list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 14.5px; }
  .about-page .profile-section .profile-list .list-item:not(:last-child) {
    border-bottom: 1px solid #e7e7e7; }
  @media only screen and (max-width: 767px) {
    .about-page .profile-section .profile-list .list-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .about-page .profile-section .profile-list .list-item.locations-item {
    padding-bottom: 0; }

.about-page .profile-section .profile-list .list-title {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  text-align: left;
  width: 100%;
  max-width: 262px;
  line-height: 1.5;
  color: #424b5a;
  font-weight: 400;
  margin: 0;
  padding-left: 15px; }
  @media only screen and (max-width: 767px) {
    .about-page .profile-section .profile-list .list-title {
      font-size: 14px; } }

.about-page .profile-section .profile-list .list-body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #919ba3;
  max-width: 700px;
  line-height: 1.5; }
  @media only screen and (max-width: 767px) {
    .about-page .profile-section .profile-list .list-body {
      padding-left: 15px;
      font-size: 14px; } }

.about-page .profile-section .profile-list .office-title {
  font-weight: 700; }

.about-page .locations-section {
  padding: 50px 0 30px; }
  @media only screen and (min-width: 992px) {
    .about-page .locations-section {
      padding: 153px 0 30px; } }
  @media only screen and (min-width: 992px) {
    .about-page .locations-section .title-container {
      margin: 0 auto 53px 56px; } }
  .about-page .locations-section .title-section {
    text-align: left;
    margin-bottom: 30px; }
    @media only screen and (max-width: 767px) {
      .about-page .locations-section .title-section {
        margin-bottom: 10px; } }
  .about-page .locations-section .contact-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 25px 0 35px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media only screen and (max-width: 767px) {
      .about-page .locations-section .contact-description {
        margin: 0px 0 75px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media only screen and (max-width: 480px) {
      .about-page .locations-section .contact-description {
        margin: 0px 0 25px; } }
    .about-page .locations-section .contact-description .txt {
      width: 750px;
      margin-right: 30px;
      color: #919ba3; }
      @media only screen and (max-width: 991px) {
        .about-page .locations-section .contact-description .txt {
          margin-bottom: 40px; } }
      @media only screen and (max-width: 767px) {
        .about-page .locations-section .contact-description .txt {
          margin-bottom: 25px;
          width: 100%; } }
  .about-page .locations-section .btn {
    width: 100%;
    max-width: 165px;
    margin-top: 3px; }
    @media only screen and (max-width: 767px) {
      .about-page .locations-section .btn {
        margin: 0 auto; } }
  .about-page .locations-section .img-wrap {
    position: relative;
    max-width: 1130px;
    margin: 0 0 0 auto; }
    .about-page .locations-section .img-wrap img {
      max-width: 100%;
      height: auto; }
      @media only screen and (max-width: 480px) {
        .about-page .locations-section .img-wrap img {
          display: none; } }
    .about-page .locations-section .img-wrap .tooltip-locations {
      display: block;
      z-index: 2; }
      @media only screen and (min-width: 480px) {
        .about-page .locations-section .img-wrap .tooltip-locations {
          position: absolute;
          content: '';
          background-color: #424b5a;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          cursor: pointer; } }
      .about-page .locations-section .img-wrap .tooltip-locations.locations-usa {
        top: 35%;
        left: 5%; }
        @media only screen and (max-width: 900px) {
          .about-page .locations-section .img-wrap .tooltip-locations.locations-usa .tooltip-wrap {
            left: -17px; }
            .about-page .locations-section .img-wrap .tooltip-locations.locations-usa .tooltip-wrap:after {
              left: 8%; } }
        @media only screen and (max-width: 480px) {
          .about-page .locations-section .img-wrap .tooltip-locations.locations-usa .tooltip-wrap {
            left: 0;
            right: 0; } }
      .about-page .locations-section .img-wrap .tooltip-locations.location-tokyo {
        top: 30%;
        right: 10%; }
        @media only screen and (min-width: 1280px) {
          .about-page .locations-section .img-wrap .tooltip-locations.location-tokyo {
            right: 20%; } }
        @media only screen and (max-width: 900px) {
          .about-page .locations-section .img-wrap .tooltip-locations.location-tokyo .tooltip-wrap {
            left: auto;
            right: -35px; }
            .about-page .locations-section .img-wrap .tooltip-locations.location-tokyo .tooltip-wrap:after {
              left: 79%; } }
        @media only screen and (max-width: 480px) {
          .about-page .locations-section .img-wrap .tooltip-locations.location-tokyo .tooltip-wrap {
            left: 0;
            right: 0; } }
      .about-page .locations-section .img-wrap .tooltip-locations.location-okinawa {
        top: 36%;
        right: 8%; }
        @media only screen and (min-width: 1280px) {
          .about-page .locations-section .img-wrap .tooltip-locations.location-okinawa {
            right: 18%; } }
        .about-page .locations-section .img-wrap .tooltip-locations.location-okinawa .tooltip-wrap {
          bottom: auto;
          top: calc(100% + 10px); }
          .about-page .locations-section .img-wrap .tooltip-locations.location-okinawa .tooltip-wrap:after {
            bottom: auto;
            top: -5px;
            -webkit-transform: rotate(180deg);
                    transform: rotate(180deg); }
          @media only screen and (max-width: 900px) {
            .about-page .locations-section .img-wrap .tooltip-locations.location-okinawa .tooltip-wrap {
              left: auto;
              right: -35px; }
              .about-page .locations-section .img-wrap .tooltip-locations.location-okinawa .tooltip-wrap:after {
                left: 79%; } }
          @media only screen and (max-width: 480px) {
            .about-page .locations-section .img-wrap .tooltip-locations.location-okinawa .tooltip-wrap {
              left: 0;
              right: 0; } }
      .about-page .locations-section .img-wrap .tooltip-locations .tooltip-wrap {
        display: block;
        font-family: "Work Sans", sans-serif;
        line-height: 1.71;
        text-align: center;
        color: #fff;
        background-color: #424b5a;
        padding: 8px;
        width: 210px;
        bottom: calc(100% + 10px);
        left: -100px;
        position: absolute;
        border-radius: 5px;
        padding: 25px 20px 13px; }
        @media only screen and (min-width: 480px) {
          .about-page .locations-section .img-wrap .tooltip-locations .tooltip-wrap:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -5px;
            left: calc(50% - 5px);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: #424b5a transparent transparent transparent; } }
        @media only screen and (max-width: 767px) {
          .about-page .locations-section .img-wrap .tooltip-locations .tooltip-wrap {
            padding: 15px 10px; } }
        @media only screen and (max-width: 480px) {
          .about-page .locations-section .img-wrap .tooltip-locations .tooltip-wrap {
            width: 100%;
            left: 0;
            right: 0;
            margin: 0 auto 5px;
            position: relative; } }
        .about-page .locations-section .img-wrap .tooltip-locations .tooltip-wrap .title-tooltip {
          font-size: 17px;
          font-weight: 600;
          margin-bottom: 3px; }
          @media only screen and (max-width: 767px) {
            .about-page .locations-section .img-wrap .tooltip-locations .tooltip-wrap .title-tooltip {
              font-size: 15px; } }
        .about-page .locations-section .img-wrap .tooltip-locations .tooltip-wrap .txt {
          color: #fff;
          font-size: 14px;
          margin-bottom: 0;
          line-height: 1.75; }
          @media only screen and (max-width: 767px) {
            .about-page .locations-section .img-wrap .tooltip-locations .tooltip-wrap .txt {
              font-size: 12px; } }

.view-btn {
  color: #c01621;
  display: block;
  margin: 24px 0 21px; }

.rpa-page .hero {
  text-align: center;
  background-color: #f7f5f2;
  padding: 0 0 175px; }
  @media only screen and (max-width: 1280px) {
    .rpa-page .hero {
      padding: 0 0 150px; } }
  @media only screen and (max-width: 767px) {
    .rpa-page .hero {
      padding: 0 0 120px; } }
  .rpa-page .hero .title-hero {
    padding: 53px 0 16px;
    margin: 0; }
  .rpa-page .hero .txt {
    max-width: 509px;
    margin: auto; }
  .rpa-page .hero .title-section {
    font-size: 38px;
    padding: 36px 0 70px; }
    @media only screen and (max-width: 991px) {
      .rpa-page .hero .title-section {
        padding: 36px 0 50px;
        font-size: 24px; } }
  .rpa-page .hero .tasks-rpa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1145px;
    margin: auto; }
    @media only screen and (max-width: 1280px) {
      .rpa-page .hero .tasks-rpa {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media only screen and (max-width: 991px) {
      .rpa-page .hero .tasks-rpa {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .rpa-page .hero .rpa-item {
    width: 100%;
    max-width: 160px; }
    @media only screen and (max-width: 1280px) {
      .rpa-page .hero .rpa-item {
        margin-bottom: 25px; } }
    @media only screen and (max-width: 767px) {
      .rpa-page .hero .rpa-item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 33%;
                flex: 0 0 33%;
        max-width: 33%; } }
    @media only screen and (max-width: 479px) {
      .rpa-page .hero .rpa-item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        max-width: 50%; } }
    .rpa-page .hero .rpa-item .rpa-title {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 21px;
      color: #424b5a;
      line-height: 1.48; }
      @media only screen and (max-width: 991px) {
        .rpa-page .hero .rpa-item .rpa-title {
          font-size: 16px; } }
    .rpa-page .hero .rpa-item img {
      max-width: 96px;
      padding: 0 0 23px; }

.rpa-page .video-section {
  padding-bottom: 90px; }
  @media only screen and (max-width: 991px) {
    .rpa-page .video-section {
      padding-bottom: 50px; } }
  .rpa-page .video-section .video-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -98px auto 0;
    max-width: 875px;
    max-height: 806px; }
    .rpa-page .video-section .video-container .start-video {
      position: absolute;
      padding: 10px;
      top: calc(50% - 32px);
      left: calc(50% - 32px);
      opacity: .3;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .rpa-page .video-section .video-container .start-video:hover {
        opacity: 1; }
    .rpa-page .video-section .video-container #player {
      max-height: 506px; }
    .rpa-page .video-section .video-container .thumbnail_container {
      width: 875px;
      overflow: hidden;
      background-color: #000; }
      @media only screen and (min-width: 992px) {
        .rpa-page .video-section .video-container .thumbnail_container {
          height: 506px; } }
    .rpa-page .video-section .video-container img.thumbnail {
      width: 100%;
      height: auto;
      opacity: 0.5; }

.rpa-page .benefits-section {
  background-color: #f7f5f2;
  padding: 113px 0 120px; }
  @media only screen and (max-width: 991px) {
    .rpa-page .benefits-section {
      padding: 50px 0; } }
  .rpa-page .benefits-section .title-hero {
    font-weight: 300;
    text-align: center;
    max-width: 875px;
    margin: auto;
    padding: 0 0 69px; }
    @media only screen and (max-width: 991px) {
      .rpa-page .benefits-section .title-hero {
        padding: 0 0 35px; } }
  @media only screen and (max-width: 1279px) {
    .rpa-page .benefits-section .wrap-benefits {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media only screen and (min-width: 1280px) {
    .rpa-page .benefits-section .wrap-benefits .wrap-img {
      margin: 0 50px 0 55px; } }
  .rpa-page .benefits-section .wrap-benefits .wrap-img img {
    max-width: 100%; }
    @media only screen and (min-width: 768px) {
      .rpa-page .benefits-section .wrap-benefits .wrap-img img {
        max-width: 555px; } }
  .rpa-page .benefits-section .wrap-benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .rpa-page .benefits-section .wrap-text {
    max-width: 486px;
    margin-top: 38px; }
    .rpa-page .benefits-section .wrap-text .list-title {
      font-weight: 700;
      text-align: left;
      padding: 0;
      margin-bottom: 40px; }
    .rpa-page .benefits-section .wrap-text .check-list {
      margin-left: 10px; }
      .rpa-page .benefits-section .wrap-text .check-list li {
        margin-bottom: 15px; }

.request-section {
  text-align: center;
  padding: 102px 0; }
  @media only screen and (max-width: 991px) {
    .request-section {
      padding: 50px 0; } }
  .request-section .title-section {
    margin: 0 0 39px;
    font-size: 50px;
    color: #424b5a;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.28; }
    @media only screen and (max-width: 991px) {
      .request-section .title-section {
        font-size: 32px; } }

.rpa-form {
  max-width: 451px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .rpa-form .label-item {
    text-align: start;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #424b5a;
    padding: 0 0 5px 0;
    margin: 0; }
  .rpa-form input, .rpa-form select {
    border: 1px solid #919ba3;
    border-radius: 3px;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 24px;
    line-height: 1;
    padding: 11px 8px; }
    .rpa-form input.error, .rpa-form select.error {
      margin-bottom: 5px; }
  .rpa-form input::-webkit-input-placeholder {
    font-size: 14px;
    color: #c2d1d9; }
  .rpa-form input::-moz-placeholder {
    font-size: 14px;
    color: #c2d1d9; }
  .rpa-form input::-ms-input-placeholder {
    font-size: 14px;
    color: #c2d1d9; }
  .rpa-form input::placeholder {
    font-size: 14px;
    color: #c2d1d9; }
  .rpa-form .btn {
    font-size: 12px;
    line-height: 1.5;
    border: none; }
  .rpa-form .custom-select {
    position: relative;
    display: inline-block; }
    .rpa-form .custom-select:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #424b5a transparent transparent transparent;
      position: absolute;
      right: 14px;
      top: calc(50% - 14px);
      z-index: 1;
      pointer-events: none;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 50%; }
    .rpa-form .custom-select select {
      color: #c2d1d9;
      padding: 12px 8px;
      width: 100%;
      padding-right: 25px;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none; }
      .rpa-form .custom-select select option {
        padding: 40px 0; }
  .rpa-form textarea {
    height: 96px;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px 10px; }
    .rpa-form textarea::-webkit-input-placeholder {
      font-family: "Work Sans", sans-serif;
      font-size: 14px;
      color: #c2d1d9; }
    .rpa-form textarea::-moz-placeholder {
      font-family: "Work Sans", sans-serif;
      font-size: 14px;
      color: #c2d1d9; }
    .rpa-form textarea::-ms-input-placeholder {
      font-family: "Work Sans", sans-serif;
      font-size: 14px;
      color: #c2d1d9; }
    .rpa-form textarea::placeholder {
      font-family: "Work Sans", sans-serif;
      font-size: 14px;
      color: #c2d1d9; }
  .rpa-form .control-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .rpa-form .btn {
    margin-top: 24px; }

.radio-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 0px 27px; }
  .radio-wrap [type="radio"]:checked,
  .radio-wrap [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px; }
  .radio-wrap [type="radio"]:checked + label,
  .radio-wrap [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 23px;
    cursor: pointer;
    line-height: 1;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    display: inline-block;
    color: #424b5a;
    margin: 0 54px 0 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .radio-wrap [type="radio"]:checked + label:before,
  .radio-wrap [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #919ba3;
    border-radius: 100%; }
  .radio-wrap [type="radio"]:checked + label:before {
    border: 1px solid #b60005; }
  .radio-wrap [type="radio"]:checked + label:after,
  .radio-wrap [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #b60005;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .radio-wrap [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0); }
  .radio-wrap [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }

.customers-page {
  background-color: #f7f5f2; }
  .customers-page .hero {
    padding: 50px 0 25px;
    text-align: center; }
  .customers-page .title-hero {
    margin-bottom: 17px; }
  @media only screen and (min-width: 1280px) {
    .customers-page .customers-section .customers-container {
      max-width: 1175px;
      margin: auto; } }
  .customers-page .customers-section .customers-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media only screen and (max-width: 1279px) {
      .customers-page .customers-section .customers-wrap {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media only screen and (max-width: 991px) {
      .customers-page .customers-section .customers-wrap {
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  .customers-page .customers-item {
    -webkit-box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);
            box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);
    max-width: 360px;
    background-color: #fff;
    margin-right: 32px;
    margin-bottom: 40px; }
    @media only screen and (max-width: 991px) {
      .customers-page .customers-item {
        max-width: 45%;
        margin-right: 0;
        margin-bottom: 20px; } }
    @media only screen and (max-width: 767px) {
      .customers-page .customers-item {
        max-width: 100%; } }
    @media only screen and (min-width: 1280px) {
      .customers-page .customers-item:nth-child(3n+3) {
        margin-right: 0; } }
    .customers-page .customers-item img {
      max-height: 185px;
      background-color: #fff;
      border-radius: 2px; }
      @media only screen and (max-width: 991px) {
        .customers-page .customers-item img {
          max-width: 100%;
          max-height: 100%; } }
    .customers-page .customers-item .wrap-description {
      padding: 0 27px 118px 32px; }
      @media only screen and (max-width: 991px) {
        .customers-page .customers-item .wrap-description {
          padding: 0 20px 50px; } }
      .customers-page .customers-item .wrap-description .item-title {
        font-family: "Montserrat", sans-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 1.36;
        color: #424b5a;
        margin: 26px 0 12px; }
        @media only screen and (max-width: 991px) {
          .customers-page .customers-item .wrap-description .item-title {
            font-size: 21px;
            margin: 20px 0 5px; } }
      .customers-page .customers-item .wrap-description .label-item {
        margin: 0;
        font-size: 16px;
        color: #424b5a;
        font-family: "Work Sans", sans-serif; }
        @media only screen and (max-width: 991px) {
          .customers-page .customers-item .wrap-description .label-item {
            font-size: 14px; } }
      .customers-page .customers-item .wrap-description .txt {
        font-family: "Work Sans", sans-serif;
        font-size: 14px;
        line-height: 1.25;
        color: #a1aeb7;
        padding: 0 0 17px 0;
        border-bottom: 1px solid #919ba3;
        margin-bottom: 13px; }
        @media only screen and (max-width: 991px) {
          .customers-page .customers-item .wrap-description .txt {
            font-size: 12px; } }
      .customers-page .customers-item .wrap-description .customers-subtitle {
        font-family: "Montserrat", sans-serif;
        font-size: 21px;
        font-weight: bold;
        line-height: 1.48;
        color: #424b5a;
        padding: 5px 0 14px 0;
        margin: 0; }
        @media only screen and (max-width: 991px) {
          .customers-page .customers-item .wrap-description .customers-subtitle {
            font-size: 16px; } }
      .customers-page .customers-item .wrap-description .customers-list {
        padding: 0;
        margin: 0; }
        .customers-page .customers-item .wrap-description .customers-list li {
          list-style: none;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          font-family: "Work Sans", sans-serif;
          font-size: 16px;
          line-height: 1.5;
          color: #919ba3;
          margin: auto;
          margin-bottom: 10px; }
          @media only screen and (max-width: 991px) {
            .customers-page .customers-item .wrap-description .customers-list li {
              font-size: 12px;
              margin-bottom: 5px; } }
          .customers-page .customers-item .wrap-description .customers-list li .num {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            border: 1px solid #d9d9d9;
            border-radius: 50%;
            max-width: 30px;
            padding: 8px 14px;
            margin-right: 21px;
            font-size: 12px;
            line-height: 1;
            max-width: 30px;
            max-height: 30px; }

.contact-page .contact-section {
  background-color: #f7f5f2;
  padding: 64px 0 55px;
  text-align: left; }
  @media (max-width: 767px) {
    .contact-page .contact-section {
      padding: 30px 0; } }

.contact-page .title-hero {
  text-align: center;
  margin: 0;
  margin-bottom: 54px; }
  @media (max-width: 767px) {
    .contact-page .title-hero {
      margin-bottom: 25px; } }

.contact-page .contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 767px) {
    .contact-page .contact-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.contact-page .contact-description {
  max-width: 360px; }
  .contact-page .contact-description .description-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.48;
    color: #424b5a;
    margin-bottom: 16px; }
    @media (max-width: 767px) {
      .contact-page .contact-description .description-title {
        text-align: center; } }
  .contact-page .contact-description .txt {
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #a1aeb7;
    margin-bottom: 25px; }
    @media (max-width: 767px) {
      .contact-page .contact-description .txt {
        text-align: center; } }
  .contact-page .contact-description .address-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #919ba3;
    margin-bottom: 10px; }
    .contact-page .contact-description .address-item img {
      width: 100%;
      max-width: 25px;
      height: 18px;
      margin-right: 15px;
      margin-top: 2px; }

.contact-page .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 30px;
  width: 100%;
  max-width: 361px; }
  @media (max-width: 767px) {
    .contact-page .contact-form {
      margin: 0; } }
  .contact-page .contact-form ~ .alert-message {
    display: none;
    margin: 0 0 0 30px;
    width: 100%;
    max-width: 361px; }
    .contact-page .contact-form ~ .alert-message.is-active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    @media (max-width: 767px) {
      .contact-page .contact-form ~ .alert-message {
        margin: 0; } }
  .contact-page .contact-form input, .contact-page .contact-form textarea {
    width: 100%;
    border: 1px solid #919ba3;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1;
    padding: 11px 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .contact-page .contact-form input::-webkit-input-placeholder, .contact-page .contact-form textarea::-webkit-input-placeholder {
      font-size: 14px;
      color: #c2d1d9; }
    .contact-page .contact-form input::-moz-placeholder, .contact-page .contact-form textarea::-moz-placeholder {
      font-size: 14px;
      color: #c2d1d9; }
    .contact-page .contact-form input::-ms-input-placeholder, .contact-page .contact-form textarea::-ms-input-placeholder {
      font-size: 14px;
      color: #c2d1d9; }
    .contact-page .contact-form input::placeholder, .contact-page .contact-form textarea::placeholder {
      font-size: 14px;
      color: #c2d1d9; }
    .contact-page .contact-form input.error, .contact-page .contact-form textarea.error {
      margin-bottom: 5px; }
  .contact-page .contact-form input {
    font-family: "Work Sans", sans-serif;
    margin: 0 0 16px 0; }
  .contact-page .contact-form textarea {
    height: 96px; }
  .contact-page .contact-form button {
    padding: 10px 0;
    margin-top: 16px; }
  .contact-page .contact-form .email-ico {
    padding-left: 40px;
    background-image: url("../images/email-ico.svg");
    background-repeat: no-repeat;
    background-size: 24px 22px;
    background-position: 8px 50%; }

.contact-page .map-section .map {
  height: 556px; }

.contact-page .map-section .map-marker-label {
  font-size: 14px;
  position: absolute;
  font-family: "Work Sans", sans-serif;
  line-height: 1.71;
  text-align: center;
  color: #fff;
  background-color: #424b5a;
  padding: 25px 35px;
  width: 280px;
  border-radius: 5px; }
  .contact-page .map-section .map-marker-label .label-title {
    font-size: 17px;
    margin-bottom: 7px; }
  .contact-page .map-section .map-marker-label:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: calc(50% - 5px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #424b5a transparent transparent transparent; }
